html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

/* Form */

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

input {
  padding: 5px;
  min-width: 400px;
}
textarea {
  padding: 5px;
  min-width: 400px;
}

.form-field-error {
  color: tomato;
}
